# Ted Bunton
## Week 8 10/13/2020
### Python Functions - Continued Wk7

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [2]:
full_name('Ted', 'Bunton')

'Ted Bunton'

In [18]:
#find a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num,'is not prime')
            break
    else:
        print(num,'is prime')

In [19]:
is_prime(16)

16 is not prime

In [20]:
is_prime(7)

7 is prime

In [21]:
for n in range(2,15):
    print(n)
is_prime(15)

2
3
4
5
6
7
8
9
10
11
12
13
14
15 is not prime

In [22]:
is_prime(7)

7 is prime

In [23]:
is_prime(11)

11 is prime

In [25]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 !=0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [26]:
min_two_odds(9,3)

3

In [27]:
min_two_odds(9,2)

9

In [30]:
#check if two-word string starts with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [29]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [31]:
two_words_letters('Python Program')

True

In [32]:
two_words_letters('Java Program')

False

In [33]:
#reduce 
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [34]:
two_words_letters('Python Program')

True

In [35]:
two_words_letters('Java Program')

False

In [37]:
#create_thirty(10,20) --> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False
def create_thirty(num1,num2):
    if (num1 + num2) == 30:
        return True
    elif num1 == 30:
        return True
    elif num2 == 30:
        return True
    else:
        return False

In [38]:
create_thirty(10,20)

True

In [39]:
create_thirty(5,30)

True

In [40]:
create_thirty(5,20)

False

In [42]:
#reduce
def create_thirty(num1,num2):
    return (num1+num2) == 30 or num1 == 30 or num2 == 30

In [43]:
create_thirty(10,20)

True

In [44]:
create_thirty(5,30)

True

In [45]:
create_thirty(5,20)

False

In [46]:
#'programming' --> ProGramming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [47]:
w[:3]

'mac'

In [50]:
part1 = w[:3].capitalize()

In [49]:
part2 = w[3:].capitalize()

In [51]:
part1 + part2

'MacDonald'

In [56]:
def caps_two_letters(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'sorry, the word is too small'

In [57]:
caps_two_letters('program')

'ProGram'

In [58]:
caps_two_letters('macdonald')

'MacDonald'

In [60]:
caps_two_letters('cis')

'sorry, the word is too small'

In [61]:
#Reverse a statement

In [62]:
str1 = 'I am home'
lst = str1.split()

In [73]:
lst

['I', 'am', 'home']

In [78]:
#lst.reverse()
lst[::-1]

['I', 'am', 'home']

In [77]:
lst

['home', 'am', 'I']

In [67]:
' '.join(lst)

'home am I'

In [79]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split() [::-1])

In [80]:
rv_stat('I am home')

'home am I'

In [84]:
#Check if a list has number 5 next to number 5 somewhere in the list
#[3,4,5,5,10] -> true
# [3,4,5,6,5,8] -> false
def has_55(lst):
    for i in range(0,len(lst)-1):
        #if lst[i] == 5 and lst[i+1] == 5:
        if lst[i:i+2] == [5,5]:
            return True
        
    return False

In [85]:
has_55([3,4,5,5,10])

True

In [86]:
has_55([3,4,5,6,5,8])

False

In [87]:
#check code 001 in a list
# [1,4,5,0,0,1,8] -> True
# [1,0,2,5,0,6,1,8] -> True
# [1,5,6,0,6,7,8,0] -> False

def check_code(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) #remove the number at index 0
            
    return len(code) == 1

In [88]:
check_code([1,4,5,0,0,1,8])

True

In [89]:
check_code([1,0,2,5,0,6,1,8])

True

In [90]:
check_code([1,5,6,0,6,7,8,0])

False

In [91]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [92]:
code.pop(0)
code

[1, 's']

In [93]:
#Number of arguments
def full_name(fname,lname):
    print(fname + ' ' + lname)

full_name('Jon', 'Clark')

Jon Clark

In [94]:
def full_name (*names):
    
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] + ' ' + names[1])
    
full_name('Jon', 'Clark')

Jon Clark

In [96]:
full_name('Jon', 'Clark')

Jon Clark

In [97]:
full_name('Jon')

Jon

In [98]:
def sum_nums(a,b):
    return sum((a,b))

In [99]:
sum_nums(10,15)

25

In [101]:
sum_nums(15)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [105]:
def sum_nums (*n):
    return sum(n) * 0.1

In [106]:
sum_nums(15)

1.5

In [107]:
sum_nums(15,10,9)

3.4000000000000004

In [112]:
def my_kids (child1,child2,child3):
    print('my first child ' + child1 + ' my second child ' + child2 + ' my third child ' + child3)

In [113]:
my_kids('Emil','Jon','Alice')

my first child Emil my second child Jon my third child Alice

In [114]:
my_kids('Jon','Emil','Alice')

my first child Jon my second child Emil my third child Alice

In [115]:
my_kids(child2 = 'Jon', child1 = 'Emil', child3 = 'Alice')

my first child Emil my second child Jon my third child Alice

In [ ]:
#MISSING LINES OF CODE HERE

In [1]:
x = 5

if x:
    print('High Five!')

High Five!

In [116]:
my_kids(child3 = 'Alice', child2 = 'Jon', child1 = 'Emil')

my first child Emil my second child Jon my third child Alice

In [2]:
while fruits:
    print(fruits.pop())

NameError: name 'fruits' is not defined

In [10]:
def my_food(**food):
    if 'fruit' in food:
        print(f"My favorite fruit is {food['fruit']}")
    else:
        print("I do not like fruit")
    
my_food(fruit = 'Apple')

My favorite fruit is Apple

In [11]:
my_food()

I do not like fruit

In [13]:
def my_func(*args, **kwargs):
    if 'fruit' in kwargs:
        print(f"I l like {' and '.join(args)} and my favorite fruits is {kwargs[fruit]} ")
    else:
        pass

my_func('eggs', 'milk', fruit = 'Cherry')

NameError: name 'fruit' is not defined