# Ted Bunton
## Week 5: 09/24/2020 - Week 6 09/29/2020
### Python For Loops

** General for loops format **

<code>for item in object:
    statements to do work

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [3]:
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
79
85

In [4]:
4 % 2

0

In [5]:
5 % 2

1

In [6]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
90
92
78
88

In [7]:
for num in sc:
    if num % 2 != 0:
        print(num)

87
89
75
79
85

In [8]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd Score!")

68
Odd Score!
90
Odd Score!
92
78
88
Odd Score!
Odd Score!
Odd Score!

In [9]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
print(sc_sum)

831

In [10]:
sc_sum = 0

for n in sc:
    sc_sum += n
    
print(sc_sum)

831

In [11]:
sc_sum = 0

for n in sc:
    sc_sum += n
    
avg = sc_sum / len(sc)
print(avg)

83.1

In [12]:
for letter in 'I am a student in CIS 310!':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S

3
1
0
!

In [13]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [14]:
ls1 = [(10,20), (30,40), (50,60), (70,80), (90,100)]

In [15]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [16]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [17]:
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [18]:
for (t1,t2) in ls1:
    print(t2)

20
40
60
80
100

In [19]:
d ={"brand": "Ford", "model": "Mustang", "year": 1964}

In [20]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [21]:
for item in d:
    print(item)

brand
model
year

In [22]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [23]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [24]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [25]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [26]:
for k,v in d.items():
    print(k)
    print(v)

brand
Ford
model
Mustang
year
1964

In [27]:
for k in d.keys():
    print(k)

brand
model
year

In [28]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [29]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [30]:
sorted([5,6,7,8])

[5, 6, 7, 8]

In [31]:
d1 = {'k1':5,'k2':8,'k3':3}

In [32]:
d1.values()

dict_values([5, 8, 3])

In [33]:
sorted(d1.values())

[3, 5, 8]

In [35]:
fruits = ['Apple', 'Banana', 'Cherry']
          
for f in fruits:
    print(f)

Apple
Banana
Cherry

In [37]:
#break keyword
fruits = ['Apple', "Grape", "Orange", "Banana", "Cherry"]
for f in fruits:
    print(f)
    if f == 'Banana':
        break;

Apple
Grape
Orange
Banana

In [38]:
for f in fruits:
    print(f)
    if f == "Orange":
        break;

Apple
Grape
Orange

In [39]:
#continue keyword
for f in fruits:
    if f == 'Banana':
        continue;
    print(f)

Apple
Grape
Orange
Cherry

In [40]:
#Python built-in function - range()
range(6)

range(0, 6)

In [42]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [43]:
for num in range(2,6):
    print(num)

2
3
4
5

In [44]:
for num in range(1,30,3):
    print(num)

1
4
7
10
13
16
19
22
25
28

In [45]:
for num in range(1,30,3):
    print(num)
else:
    print('Finish Printing!')

1
4
7
10
13
16
19
22
25
28
Finish Printing!

In [47]:
adj = ['red','small','large','tasty']
fruits = ['Apple','Grape','Orange','Banana','Cherry']

for a in adj: #outer for
    for f in fruits: #inner for
        if a == 'red' and f == 'Banana':
            continue
        print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry

In [50]:
#pass
for a in adj: #outer for
    for f in fruits: #inner for
        if a == 'red' and f == 'Banana':
            pass
        else:
            print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry